.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px; /* you can change as you want the width and both will stay the same aspect ratio*/
}

.backImage {
  width: 100%
}

.needleImage {
  position: absolute;
  width: 100%;
}
