.leaflet-container {
    width: 392px;
    height: 392px;
    border-radius: 10px;
}

#mapBox {
    height: 400px;
    width: 400px;
    overflow: hidden;
}

#mapContainer {
    top: -100%;
    position: relative;
    transition: all .5s ease-in;
    border: 4px solid black;
    border-radius: 15px;
}