.compass {
  position: relative;
  top: 0;
  left: 0;
}

.back {
  position: relative;
  top: 0;
  left: 0;
  max-width: 25%;
}

.needle {
  position: absolute;
  top: 25.5%;
  left: 11.9%;
  max-height: 60%;
  transition: 400ms linear all;
}
