.compass {
  position: relative;
  top: 0;
  left: 0;
}

.back {
  position: relative;
  top: 0;
  left: 0;
  max-width: 25%;
}

.needle {
  position: absolute;
  top: 36.5%;
  left: 12%;
  max-height: 50%;
  transition: 400ms linear all;
}
